*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    background-color: hsl(47, 88%, 63%);
    height:100vh;
    justify-content: center;
    align-items: center;
}
/* for the card */
.blog-card{
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: 8px 8px 0 black
}
/* for the card-img */
.blog-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.tag{
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    margin-bottom: 20px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-flex;
}
/* for the text */
.date{
    color: hsl(0, 0%, 42%);
    margin-bottom: 10px;
    font-size: 12px;

}
.blog-card h2{
    color:  hsl(0, 0%, 7%);
    margin-bottom: 20px;
    font-size: 20px;
}

.description{
    color:  hsl(0, 0%, 42%);
    font-size: 14px;
    margin-bottom:20px;
}
/* for the author */
.author img{
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
.author{
     display: flex;
     align-items: center;
     gap: 10px;
}
/* for the attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}
    .attribution a {
        color: hsl(228, 45%, 44%)
     }